:root {
    --bg-content-color: rgba(42, 41, 41, 1);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url('./images/bg.jpg');

    background-position: center;
    background-size: cover;
    padding: 52px 30px 30px 30px;
    color: white;

    position: relative;
    /* width: 100%;
    height: 300px; */
}

header::after {
    background: rgba(42, 41, 41, .8);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.header-container {
    text-align: center;
    max-width: 768px;
    margin: auto;
    position: relative;
    z-index: 1;
    padding: 50px 0;

}

.header-container .title {
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.5em;
}

.header-container p {

    margin: auto;
    line-height: 1.5em;
    font-size: 1.1em;
    font-weight: lighter;
}

.header-container a {
    display: inline-block;
    margin: 30px auto;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: lighter;
    color: white;
    border: 1px solid rgb(70, 69, 69);
    /* width: auto; */
    padding: 20px 40px;
    background-color: rgb(42, 41, 41);

}

.header-container a:hover {
    background-color: rgb(212, 212, 212);
    color: rgb(28, 28, 28);
}

.top-container {
    text-align: center;
    padding: 30px;
}

.top-container .title {
    font-size: 1.7em;
    font-weight: 700;
    margin: 0 auto 30px auto;
}

.top-container .content {
    display: flex;
    flex-direction: column;
}

.top-container .content p {
    /* border: 1px dashed pink; */
    padding: 10px 0;
    text-align: left;
}

.middle-container {
    background: rgb(42, 41, 41);
    color: white;
    /* padding: 30px 0px; */
    display: flex;
    flex-direction: column;
}

.middle-container .card {
    /* border: 1px solid pink; */
    text-align: center;
    background: white;
    color: var(--bg-content-color);

    margin: 20px 10px;
}

/*  */
.middle-container .card .img {
    height: 350px;
}

.middle-container .card .img.first {
    background-image: url('https://static.pexels.com/photos/574077/pexels-photo-574077.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.middle-container .card .img.second {
    background-image: url('https://static.pexels.com/photos/261628/pexels-photo-261628.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.middle-container .card .img.third {
    background-image: url('https://static.pexels.com/photos/265087/pexels-photo-265087.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.middle-container .card .title {
    font-size: 1.4em;
    font-weight: 600;
    padding: 30px;

}

.middle-container .card p {
    /* font-size: 1.4em;
    font-weight: 600; */
    padding: 0 0 50px 0;
    line-height: 1.5em;

}

footer {
    text-align: center;

}

footer .top-content {}

footer .top-content .title,
footer .middle-content .title {
    font-size: 1.7em;
    font-weight: 600;
    padding: 60px 30px;
}

footer .top-content p,
footer .middle-content p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0 20px 50px 20px;
}

footer .bottom-content {
    background: black;
    color: white;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}

footer .bottom-content p {
    font-size: 1.2rem;
    line-height: 2rem;
    /* padding: 30px 20px 50px 20px;  */
}

footer .bottom-content span {
    color: turquoise;
}

footer .middle-content {
    display: flex;
    flex-direction: column;
    color: white;
}

/* footer .middle-content .email {
    color: black;
} */

footer .middle-content .contact {
    background-color: dodgerblue;
}

footer .middle-content .about {
    background-color: var(--bg-content-color);
}

@media screen and (min-width:768px) {
    .top-container .content {
        flex-direction: row;

    }

    .top-container .content p {
        padding: 0 20px
    }

    .middle-container {
        flex-direction: row;
        padding: 0 5px;
    }

    .middle-container .card {
        /* margin: 0 10px; */
        margin: 20px 5px;
    }

    footer .middle-content {

        flex-direction: row;
        /* justify-content: space-evenly; */
    }

    footer .middle-content>div {
        width: 50%;

    }

    footer .bottom-content {
        flex-direction: row;

    }

    footer .bottom-content>p {
        padding: 0 10px;
        /* border: 1px dashed white; */
        width: 50%;
    }


}